/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
composer.lock
phpunit.xml.bak
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
_ide_helper.php
.phpstorm.meta.php
*.log
.DS_Store
Thumbs.db
/.php-cs-fixer.cache
/.php-cs-fixer.php
/coverage/
.php_cs.cache
*.cache
